.pageImport
	margin: 0 20px;
	margin-top: 64px;
	background-color: #fff;
	padding: 0 20px;
	.container
		width: 660px;
		margin: 40px auto 0 auto;
		.content
			.download
				position: relative
				margin-top: 40px;
				padding: 8px 48px 8px 16px;
				border: 1px solid #EDE7C1;
				background-color: #FFFADA;
				input
					display: none
			.downloadError
				text-align: center
				margin-top: 25px;
				input
					display: none
			.uploadWrap
				margin: 30px 0;
			.desc
				margin-top: 30px;
				padding: 15px;
				border: 1px solid #F3F3F3;
				.title
					color: #000000;
					font-size: 12px;
				.info
					padding-top: 16px;
					color: #333333;
					font-size: 12px;
					line-height: 20px




			.progressWrap
				margin-top: 90px;
			.progress-title
				text-align: center
				color: #333333
				font-size: 14px
				padding-top: 25px
			.progress-desc
				text-align: center
				color: #666666
				font-size: 12px
				padding-top: 25px
		.hide
			display: none;

