.home
    display block
    height: 100%
    .header
        font-size: 16px;
        padding: 0 20px;
        background-color: #fff;
        height: 44px;
        line-height: 44px;
        color: #333;